@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}
::-webkit-scrollbar{
    display: none;
}.note-container{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}